name: Generic Release

on:
  workflow_call:
    inputs:
      snapshot:
        required: false
        type: boolean
        default: false

jobs:
  goreleaser:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-go@v4.1.0
        with:
          go-version-file: "go.mod"
          cache: false # don't use cache because it's huge (>1GB)
      - if: inputs.snapshot == false
        uses: goreleaser/goreleaser-action@v4.3.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config=build/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: goreleaser/goreleaser-action@v4.3.0
        with:
          distribution: goreleaser
          version: latest
          args: build --clean --config=build/.goreleaser.yaml --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: actions/upload-artifact@v3
        with:
          name: release-binary
          path: dist/**/*.exe
          retention-days: 2
